
.App {
  font-family: Avenir;
  font-size: 20px;
  display: grid;
  grid-template-columns: 30vw auto;
  grid-template-areas: "nav content";
}

.hero-component {
  grid-area: content;
  height: 100%;
  width: 100%
}

.side-bar {
  grid-area: nav;
  background: #eeeeee;
  text-align: center;
  width: 100%;
}

.info {
  font-size: 2vw;
}

.name {
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.main-container {
  grid-area: content;
  overflow: auto;
  text-align: center;
}

.introduction {
  padding-left: 5%;
  padding-right: 5%;
}

.projects-container {
  padding-top: 5vh;
}

.project {
  border-style: ridge;
  border-width: thin;
  border-color: black;
  padding-top: 2%;
}

.project-title {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.project-description {
  font-size: 20px;
  padding: 3%
}

.project-technologies {
  font-size: 20px;
  font-weight: bold;
  padding: 3%;
}

a:visited {
  color: black;
}

#icon{
  padding: 10px;
  width: 15%;
  transition: all .1s ease-in-out;
}

#icon:hover {
  transform: scale(1.11);
}

#headshot {
  padding-top: 20px;
  width: 80%;
  border-radius: 50%;
}
