
.App {
  font-family: Avenir;
  font-size: 30px;
  display: grid;
  grid-template-columns: 30vw auto;
  grid-template-areas: "nav content";
}

.hero-component {
  grid-area: content;
  height: 100%;
  width: 100%
}

.side-bar {
  grid-area: nav;
  background: #eeeeee;
  text-align: center;
  width: 100%;
}

.main-container {
  grid-area: content;
  overflow: auto;
  text-align: center;
}

.project-description {
  font-size: 25px;
  padding: 3%
}

.project-technologies {
  font-size: 18px;
  font-weight: bold;
  padding: 3%;
}

#icon{
  padding: 10px;
  width: 15%;
  transition: all .1s ease-in-out;
}

#icon:hover {
  transform: scale(1.11);
}

#headshot {
  padding-top: 20px;
  width: 80%;
  border-radius: 50%;
}
